{% extends 'admin/base_admin.html' %}
{% load static %}
{% load custom_filters %}

{% block content %}
    <div class="row justify-content-between">

      <div class="col-md-8">
        <div id="popularMoviesChart" style="width: 100%; height: 500px;"></div>
      </div>
      <div class="col-md-3">
        <div class="card bg-warning text-white" style="height: 150px; max-width: 300px">
            <div class="card-body d-flex align-items-center justify-content-between">
                <div>
                    <h1>{{ total_users }}</h1>
                    <div>Users</div>
                </div>
                <img src="/static/images/site_icons/user.png" alt="user-profile" style="height: 60px; width: 60px">
            </div>
        </div>
      </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div id="genderChart" style="width: 100%; height: 500px;"></div>
        </div>
        <div class="col-md-6">
            <div id="cityChart" style="width: 100%; height: 500px;"></div>
        </div>
    </div>


    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">

      google.charts.load('current', {'packages':['corechart']});

      google.charts.setOnLoadCallback(drawPopularMovieChart);
      google.charts.setOnLoadCallback(drawGenderChart);
      google.charts.setOnLoadCallback(drawCityChart);

      function drawPopularMovieChart() {
        const data = google.visualization.arrayToDataTable([
          ['Movie', 'Number of Tickets Sold'],
                {% for name_uk, tickets in movie_names|zip_lists:tickets_sold %}
                    ['{{ name_uk }}', {{ tickets }}],
                {% endfor %}
        ]);

        var options = {
          title: 'The Most Popular Movies Last Month',
          pieHole: 0.4,  
        };

        var chart = new google.visualization.PieChart(document.getElementById('popularMoviesChart'));
        chart.draw(data, options);
      }

      function drawGenderChart() {
        const data = google.visualization.arrayToDataTable([
          ['Gender', 'Count'],
          ['Male', {{ male_users }}],
          ['Female', {{ female_users }}]
        ]);

        var options = {
          title: 'Gender',
          pieHole: 0.4,
          colors: ['#1E90FF', '#FF69B4'],
        };

        var chart = new google.visualization.PieChart(document.getElementById('genderChart'));
        chart.draw(data, options);
      }

      function drawCityChart() {
        const data = google.visualization.arrayToDataTable([
          ['City', 'Users'],
          {% for city in users_by_city %}
            ['{{ city.city }}', {{ city.count }}],
          {% endfor %}
        ]);

        var options = {
          title: 'User Distribution by City',
          hAxis: {title: 'City'},
          vAxis: {title: 'Number of Users'},
          legend: {position: 'none'}
        };

        var chart = new google.visualization.ColumnChart(document.getElementById('cityChart'));
        chart.draw(data, options);
      }

    
    </script>
{% endblock %}
