{% extends 'admin/base_admin.html' %}
{% load static %}

{% block content %}
<div class="container">
    <form id="PageForm" method="post" enctype="multipart/form-data" action="{% url 'edit_page' page_id=page.id %}">
        {% csrf_token %}


<div class="form-check form-switch mb-3">
        {{ form.status }}
        <label class="form-check-label" for="{{ form.status.id_for_label }}">{{ form.status.label }}</label>
    </div>

        <div class="mb-3 row align-items-center">
            <label for="movie_name_en" class="col-sm-4 col-form-label">Page name (EN)</label>
            <div class="col-sm-8">
                {{ form.name_en }}
                {% if form.name_en.errors %}
                    <div class="alert alert-danger">{{ form.name_en.errors }}</div>
                {% endif %}
            </div>
        </div>

        <div class="mb-3 row align-items-center">
            <label for="description_en" class="col-sm-4 col-form-label">Description (EN)</label>
            <div class="col-sm-8">
                {{ form.description_en }}
                {% if form.description_en.errors %}
                    <div class="alert alert-danger">{{ form.description_en.errors }}</div>
                {% endif %}
            </div>
        </div>

        <div class="mb-3 row align-items-center">
            <label for="movie_name_uk" class="col-sm-4 col-form-label">Page name (UA)</label>
            <div class="col-sm-8">
                {{ form.name_uk }}
                {% if form.name_uk.errors %}
                    <div class="alert alert-danger">{{ form.name_uk.errors }}</div>
                {% endif %}
            </div>
        </div>

        <div class="mb-3 row align-items-center">
            <label for="description_uk" class="col-sm-4 col-form-label">Description (UA)</label>
            <div class="col-sm-8">
                {{ form.description_uk }}
                {% if form.description_uk.errors %}
                    <div class="alert alert-danger">{{ form.description_uk.errors }}</div>
                {% endif %}
            </div>
        </div>



        <div class="mb-3">
            {% include 'admin/elements/gallery_img_elements/main_image_edit.html' %}
        </div>


        {{ formset.management_form }}

        <div class="mb-3">
            {% include 'admin/elements/gallery_img_elements/gallery_carousel_edit.html' %}
        </div>

        <div id="formset-container" hidden="hidden">
            {% for form in formset %}
                <div id="form-{{ forloop.counter }}">
                    {{ form.as_p }}
                </div>
            {% endfor %}
        </div>




        <div class="mb-3">
            <label class="form-label">SEO block:</label>
            <div class="row mb-3 align-items-center">
                <label for="seo_url" class="col-sm-2 col-form-label">URL</label>
                <div class="col-sm-10">
                    {{ form.url_seo }}
                    {% if form.url_seo.errors %}
                        <div class="alert alert-danger">{{ form.url_seo.errors }}</div>
                    {% endif %}
                </div>
            </div>
            <div class="row mb-3 align-items-center">
                <label for="seo_title" class="col-sm-2 col-form-label">Title</label>
                <div class="col-sm-10">
                    {{ form.title_seo }}
                    {% if form.title_seo.errors %}
                        <div class="alert alert-danger">{{ form.title_seo.errors }}</div>
                    {% endif %}
                </div>
            </div>
            <div class="row mb-3 align-items-center">
                <label for="seo_keywords" class="col-sm-2 col-form-label">Keywords</label>
                <div class="col-sm-10">
                    {{ form.keywords_seo }}
                    {% if form.keywords_seo.errors %}
                        <div class="alert alert-danger">{{ form.keywords_seo.errors }}</div>
                    {% endif %}
                </div>
            </div>
            <div class="row mb-3 align-items-center">
                <label for="seo_description" class="col-sm-2 col-form-label">Description</label>
                <div class="col-sm-10">
                    {{ form.description_seo }}
                    {% if form.description_seo.errors %}
                        <div class="alert alert-danger">{{ form.description_seo.errors }}</div>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="d-flex justify-content-center">
            <button type="submit" class="btn btn-secondary">Save</button>
        </div>
    </form>
</div>
{% endblock %}
