{% extends 'admin/base_admin.html' %}
{% load static %}

{% block content %}
<div class="container">
    <div class="mb-3 row align-items-center justify-content-center">
        <label for="movie_success" class="h1">List of all movies</label>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">id</th>
                <th scope="col">Movie name</th>
                <th scope="col">Edit</th>
                <th scope="col">Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for movie in movies %}
            <tr>
                <th scope="row">{{ movie.id }}</th>
                <td>{{ movie.name }}</td>
                <td>
                    <a href="{% url 'edit_movie' movie_id=movie.id %}" class="btn btn-outline-primary btn-sm d-inline-flex align-items-center">
                        <i class="fa fa-pencil-alt" aria-hidden="true"></i> <span class="sr-only">Edit</span>
                    </a>
                </td>
                <td>
                    <a href="{% url 'delete_movie' movie_id=movie.id %}" class="btn btn-outline-danger btn-sm d-inline-flex align-items-center">
                        <i class="fa fa-trash-alt" aria-hidden="true"></i> <span class="sr-only">Delete</span>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="d-flex justify-content-center">
        <button type="button" class="btn btn-secondary" onclick="window.location.href='{% url 'add_movie' %}'">Add new movie</button>
    </div>
</div>
{% endblock %}
