<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    {% for banner in carousel_big_banner %}
      {% for image in banner.banner_images.all %}
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="{{ forloop.counter0 }}" class="{% if forloop.parentloop.first and forloop.first %}active{% endif %}" aria-current="true" aria-label="Slide {{ forloop.counter }}"></button>
      {% endfor %}
    {% endfor %}
  </div>
    
  <div class="carousel-inner">
    {% for banner in carousel_big_banner %}
      {% for image in banner.banner_images.all %}
        <div class="carousel-item {% if forloop.parentloop.first and forloop.first %}active{% endif %}" data-bs-interval="{{ banner.rotation_speed }}">
          {% if image.url %}
            <a href="{{ image.url }}">
              <img src="{{ image.gallery_image.image.url }}" class="d-block w-100" alt="{{ image.gallery_image.alt_text }}">
            </a>
          {% else %}
            <img src="{{ image.gallery_image.image.url }}" class="d-block w-100" alt="{{ image.gallery_image.alt_text }}">
          {% endif %}
        </div>
      {% endfor %}
    {% endfor %}
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
