{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block content %}
<div class="background-image">
    <div class="content-container mt-5">
        <div class="container-fluid">
            <div class="container mt-4">
                <div class="main-image-banner" style="padding-bottom: 20px;">
                    <img src="{{ cinema.main_image.image.url }}" alt="{{ cinema.name }}" class="img-fluid w-100">
                </div>
            </div>

            <div class="row mb-4">
                <div class="col-md-6">
                    <img src="{{ cinema.logo.image.url }}" alt="{{ cinema.name }}" class="img-fluid">
                </div>
                <div class="col-md-6">
                    <a href="#" class="btn btn-success mb-3">{% trans "Showtimes" %}</a>
                    <h2>{{ cinema.name }}</h2>
                    <p>{{ cinema.title }}</p>
                </div>
            </div>

            <div class="row mt-5">
                <div class="col-md-6">
                    <h3>{% trans "Number of Halls" %}: {{ cinema.halls.count }}</h3>
                    <ul class="list-group">
                        {% for hall in cinema.halls.all %}
                            <li class="list-group-item">
                                <a href="{{ hall.get_absolute_url }}">{{ hall.name }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>

                <div class="col-md-6">
                    <h3>{% trans "Showtimes Today" %}</h3>
                    <ul class="list-group">
                        {% if showtimes %}
                            {% for showtime in showtimes %}
                                <li class="list-group-item">
                                    <a href="{% url 'booking' showtime_id=showtime.id %}">
                                        {{ showtime.show_time|date:"H:i" }} - {{ showtime.movie_id.name }}
                                    </a>
                                </li>
                            {% endfor %}
                        {% else %}
                            <li class="list-group-item">{% trans "No showtimes available for today." %}</li>
                        {% endif %}
                    </ul>
                </div>
            </div>

            <div class="row mt-5 justify-content-center">
                <div class="col-md-10">
                    <div class="p-4 text-light" style="background-color: #2c2c2c; border-radius: 8px;">
                        <h3 class="text-center mb-4">{% trans "Terms and Conditions" %}</h3>
                        <div class="row">
                            {% for page in pages %}
                                <div class="col-md-6 mb-4">
                                    <h4>{{ page.name }}</h4>
                                    <p>{{ page.description }}</p>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mt-5">
                <div class="col-md-12 text-center">
                    <h3>{% trans "Gallery" %}</h3>
                    <div id="carouselGalleryIndicators" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-indicators">
                            {% for image in cinema.gallery.galleryimage_set.all %}
                              <button type="button" data-bs-target="#carouselGalleryIndicators" data-bs-slide-to="{{ forloop.counter0 }}" class="{% if forloop.first %}active{% endif %}" aria-current="true" aria-label="Slide {{ forloop.counter }}"></button>
                            {% endfor %}
                        </div>
                        <div class="carousel-inner">
                            {% for image in cinema.gallery.galleryimage_set.all %}
                              <div class="carousel-item {% if forloop.first %}active{% endif %}">
                                <img src="{{ image.image.url }}" class="d-block w-100" alt="{{ image.caption }}">
                              </div>
                            {% endfor %}
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselGalleryIndicators" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselGalleryIndicators" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock %}