<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid mb-2">
        <a class="navbar-brand" href="/kino-cms/">
            <img src='/static/images/site_icons/logo.png' alt="Logo" style="height: 40px;">
        </a>
        <div class="ml-auto d-flex align-items-center">
            {% if request.user.is_authenticated %}
    {% if request.user.is_superuser %}
        <a href="#" class="d-flex align-items-center text-decoration-none text-dark mr-5">
            <img src="/static/images/site_icons/user.png" alt="user-profile" style="height: 40px;">
            <span class="ms-2 me-2">{{ request.user.email }}</span>
        </a>
        <form action="{% url 'logout' %}" method="post" class="d-inline">
            {% csrf_token %}
            <button type="submit" class="btn btn-secondary" id="exit-btn">Logout</button>
        </form>
    {% else %}
        <span class="text-danger">You do not have permissions for this part of site!</span>
    {% endif %}
{% else %}
    <a href="{% url 'custom_admin_login' %}" class="btn btn-secondary" id="login-btn">Login</a>
{% endif %}
        </div>
    </div>
</nav>
