<div class="sidebar bg-light">
  <nav class="nav flex-column">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'admin_dashboard' %}">Dashboard</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'upload_image' %}">Gallery</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'banner_list' %}">Banners</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'movie_list' %}">Movies</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'cinema_list' %}">Theaters</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'post_list' %}">News/Promotions</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'pages_list' %}">Pages</a>
      </li>
      <li class="nav-item">
  <a class="nav-link" href="{% url 'users_list' %}">Users</a>
</li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'email_campaign' %}">Newsletter</a>
      </li>
    </ul>
  </nav>
</div>
